
.emails-compose{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 20%;
    width: 60%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto;
    border: 1px solid black;
    border-radius:10px;
    background-color: rgb(231, 210, 18);
}

.emails-compose form{
    display: flex;
    flex-direction:column;
    height:100%;
}

.nav-compose{
    display: flex;
    font-size: medium;
    justify-content: space-between;
    height: 30px;
}

.nav-compose p{
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
  padding: 0.2em;
}

.emails-compose form #to{
    
}
.emails-compose form #subject{
    
}
.emails-compose form #body{
    padding: 0;
    height: 70%;
}